<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New account at ForeverFunds</title>
</head>
<body>
Dear {{ username }}.<br>
<br>
An account has been created in the ForeverFunds website for you.<br>
You can use it by going to the <a href="www.foreverfunds.com">website</a> and logging in with the following credentials:<br>
<br>
<b>Username:</b> {{ username }}<br>
<b>Password:</b> {{ password }}<br>

Once you logged in you can change the password in the Personal tab.<br>
<br>
Best Regards, <br>
<br>
ForeverFunds<br>

</body>
</html>