<!doctype html>
<html lang="en">
<head>

    <link rel="stylesheet" href="static/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/css/style.css"/>

    <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css"
            rel="stylesheet" type="text/css">
    <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.css"
            rel="stylesheet" type="text/css">
    <script src="static/js/jquery-3.2.1.min.js"></script>

    {% block extra_head %}
    {% endblock %}

    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title %}</title>
</head>
<body {% block body_attrs %}{% endblock %}>
{% block body %}

<header>
    <nav class="navbar navbar-default">
        <!--&lt;!&ndash; logo img svg&ndash;&gt;-->
                    <!--<a class="navbar-brand" href="/">-->
                        <!--<img src="/static/img/logo.svg">-->
                        <!--&lt;!&ndash;img src="" alt="logo"&ndash;&gt;-->
                    <!--</a>-->
                     <!--&lt;!&ndash;end logo img svg &ndash;&gt;-->
        <a href="/" class="navbar-brand">Forever funds</a>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.id %}
                <li><a href="/home">Home</a></li>
                <li><a href="/funds"> Funds page</a></li>
                <li><a href="/research"> Research page</a></li>
                <li><a href="/personal"> Personal page</a></li>
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/about">Landing B</a></li>
                <li><a href="/login">Login</a></li>
                {% endif %}

            </ul>


        </nav>
    </nav>
</header>


<div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-block alert-{{category}}">
        <a class="close" data-dismiss="alert" href="#">×</a>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

    {% block content %}

    {% endblock content %}

<footer class="footer">
    <div class="footer-content">©2017 FOREVER FUNDS, SA</div>
</footer>


{% endblock body %}
<script src="static/js/bootstrap.min.js"></script>
{% block extra_scripts %}
{% endblock %}
</body>
</html>