{% extends 'investor/home.html' %}

{% block title %} Personal page {% endblock title%}

{% block content %}
    <h1> Personal</h1>
    <section>

    <h2>Change Password</h2>
    This page will provide the necessary methods for the investor to change its password.
    {% if error %}
        <font color="red">{{error}}</font>
    {% endif %}
    <form action="/personal" name="change_password_form" method="post">
        Old password: <br>
        <div class="form-group">
            <input name="old_password" type="password"><br>
        </div>
        <div class="form-group">
        New password: <br>
        <input name="new_password1" type="password"><br>
        Repeat password: <br>
        <input name="new_password2" type="password"><br>
        </div>
        <button name="changePassword" value="changePassword" type="submit">Change Password</button>
    </form>
</section>
{% if current_user.permission == 1 %}
<section>
<h2>Add new user</h2>
{% if error_add_user %}
<font color="red">{{error_add_user}}</font>
{% endif %}

{% with messages = get_flashed_messages(with_categories=false) %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="/personal" name="add_user_form" method="post">
    New Username: <br>
    <input name="username" type="text"><br>
    <input type="checkbox" name="is_admin" value="is_admin">Check this box if the new user is admin.<br>
    <button name="doRegister" value="doRegister" type="submit">Register</button>
</form>
</section>
{% endif %}
{% endblock content %}