{% extends 'investor/home.html' %}

{% block title %} Research page {% endblock title%}

{% block extra_head %}

<script type=text/javascript src="static/js/research.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

 $(document).ready(function () {
  $('#research_documents').selectize({});
 }

</script>


{% endblock %}

{% block body_attrs %} onload="getMoreDocuments()"{% endblock %}

{% block main_container %}

<section>
    <h1> Research </h1>
    <p>This page will show a search box and a list of recent newsletters/research.</p>

</section>

<section>
    <!--<div class="row">-->
        <!--<div class="col-sm-4">-->
            <!--<select id="search_documents" class="selectized">-->
                <!--<option value="" selected="selected" name=""></option>-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->

    <br>
    <div id="research_documents" class="row">
        <h2>Recent:<br></h2>
        {% for file in files %}
        <div class="col-sm-4">File date or metainfo</div>
        <div class="col-sm-8">{{ file }}
        </div>
        {% endfor %}
    </div>
    <br>
    <center>
        <button type="button" onclick="getMoreDocuments();" class="btn btn-lg btn-primary">More</button>
    </center>
</section>

{% endblock main_container %}