{% extends 'investor/home.html' %}

{% block title %} Research page {% endblock title%}

{% block main_container %}

<section>
    <h1> Research </h1>
    <p>This page will show a search box and a list of recent newsletters/research.</p>
    Questions
    <ul>
        <li>Do you want to search titles or content as well?</li>
        <li>When clicking on the newsletter, do you want it to be downloaded, open the pdf on a new page or create an html template for it?</li>
    </ul>

</section>

{% endblock main_container %}